<html>

    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>
            {% block title %}

            {% endblock title %}
        </title>
    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <a class="navbar-brand" href="{{ url_for('home_page') }}">DPMB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home_page') }}">Domov<span class="sr-only">(current)</span></a>
                </li>

                {% if current_user.is_authenticated %}
                {% if authorize.has_role('admin') %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('customer_page') }}">Zákazník</a>
                    </li>
                {% endif %}        
                {% if authorize.has_role('admin','staff') %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ticket_page') }}">Lístky</a>
                </li>   
                {% endif %}    

                    
                {% if authorize.has_role('admin','carrier') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('link_page') }}">Spojenia</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('station_page') }}">Zastávky</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('vehicle_page') }}">Vozidlá</a>
                    </li>

                
                {% endif %}
                {% endif %}


            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link">{{ current_user.first_name }} {{ current_user.last_name }} {{ current_user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                </li>
                
                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register_page')}}">Register</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block mainContent %}

        {% endblock mainContent %}
    </div>


    </body>

    <style>

        body {
             background-color: #F0FFFF;
        }

    </style>


</html>
