{% extends 'base.html' %}

{% block title %}
    Customer Departiva
{% endblock title %}

{% block mainContent %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h3 class="text-left">Errors:</h3>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 class="text-center mt-4 mb-4">List of Departiva customers</h1>
<div class="row justify-content-end">
  <button class="btn btn-success mb-2" style="border-radius: 10px;" data-toggle="modal" data-target="#addCustomer"><i class="fas fa-plus-circle"></i> Add Customer</button>

    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set cnt = namespace(value=0) %}
        {% for customer in customers %}
        {% set cnt.value = cnt.value + 1 %}
        <tr>
          <td>{{cnt.value}}</td>
          <td>{{customer.first_name}}</td>
          <td>{{customer.last_name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.roles[0].name}}</td>
          <td>
            <button class="btn btn-warning mr-2" data-toggle="modal" data-target="#editCustomer{{customer.id}}" onclick="selected('{{customer.roles[0].name}}')"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCustomer{{customer.id}}"><i class="fas fa-trash"></i></button>
          </td>
            <!--Edit Customer-->
            <div class="modal fade" id="editCustomer{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <form action="/customer/edit_customer/edit" method="POST" class="form-register">
                  <div class="modal-body">

                    <input type="hidden" name="id" value={{ customer.id }}>
                    {% if authorize.has_role('admin') %}
                    {{ form.first_name.label() }}
                    {{ form.first_name(class="form-control", placeholder="User Name", value=customer.first_name) }}
                    {{ form.last_name.label() }}
                    {{ form.last_name(class="form-control", placeholder="Last Name", value=customer.last_name) }}
                    {{ form.email.label() }}
                    {{ form.email(class="form-control", placeholder="Email", value=customer.email) }}
                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password", value=customer.password) }}
                    <div class="js-carrier">
                      {{ form.owner.label() }}
                      {{ form.owner(class="form-control ", placeholder="Owner's Name") }}
                    </div>

                    <div class="js-user-type">
                      {{ form.role.label() }} {{ form.role(class="form-control") }}
                    </div>
                    {% endif %}
                    {% if authorize.has_role('carrier') %}

                    {{ form.first_name.label() }}
                    {{ form.first_name(class="form-control", placeholder="User Name", value=customer.first_name) }}
                    {{ form.last_name.label() }}
                    {{ form.last_name(class="form-control", placeholder="Last Name", value=customer.last_name) }}
                    {{ form.email.label() }}
                    {{ form.email(class="form-control", placeholder="Email", value=customer.email) }}
                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password", value=customer.password) }}

                    {% endif %}


                  </div>
                  <div class="modal-footer text-left">
                    {{ form.csrf_token }}
                    {{ form.submit(class="btn btn-primary mt-4") }}
                  </div>
                </form>
                </div>
              </div>
            </div>
            <!--Delete Customer-->
            <div class="modal fade" id="deleteCustomer{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <form action="/customer/edit_customer/delete" method="POST" class="form-register">
                  <div class="modal-body">
                    <input type="hidden" name="id" value={{ customer.id }}>
                    <div class="text-left">
                      <h5>Are you sure to delete customer {{customer.first_name + customer.last_name}}</h5>
                      {{ form.csrf_token }}
                      {{ form.submit(class="btn btn-primary mt-4") }}
                    </div>
                  </div>

                </form>
                </div>
              </div>
            </div>


          </tr>
          {% endfor %}
        </tbody>
      </table>
    <!--ADD Customer-->
    <div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form action="/customer/edit_customer/add" method="POST" class="form-register">
          <div class="modal-body">

                    {% if authorize.has_role('admin') %}
                    {{ form.first_name.label() }}
                    {{ form.first_name(class="form-control", placeholder="User Name") }}
                    {{ form.last_name.label() }}
                    {{ form.last_name(class="form-control", placeholder="Last Name") }}
                    {{ form.email.label() }}
                    {{ form.email(class="form-control", placeholder="Email") }}
                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password") }}
                    <div class="js-carrier">
                      {{ form.owner.label() }}
                      {{ form.owner(class="form-control ", placeholder="Owner's Name") }}
                    </div>
                    <div class="js-user-type">
                      {{ form.role.label() }} {{ form.role(class="form-control") }}
                    </div>
                    {% endif %}
                    {% if authorize.has_role('carrier') %}
                    {{ form.first_name.label() }}
                    {{ form.first_name(class="form-control", placeholder="User Name") }}
                    {{ form.last_name.label() }}
                    {{ form.last_name(class="form-control", placeholder="Last Name") }}
                    {{ form.email.label() }}
                    {{ form.email(class="form-control", placeholder="Email") }}
                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password") }}

                    {% endif %}



          </div>
          <div class="modal-footer text-left">
            {{ form.csrf_token }}
            {{ form.submit(class="btn btn-primary mt-4") }}
          </div>
        </form>
        </div>
      </div>
    </div>

  </div>
  <script>
    function selected(val) {
      $('.js-user type option:selected').removeAttr("selected");
      $('.js-user-type option[value="'+val+'"]').attr('selected','selected');
    }
  </script>
  <style>

    table {
      border-collapse: collapse;
      border-radius: 10px;
      border-style: hidden; /* hide standard table (collapsed) border */
      box-shadow: 0 0 0 1px #666; /* this draws the table border  */
    }

    td {
        border: 1px solid #ccc;
    }


  </style>

{% endblock mainContent %}
