{% extends 'base.html' %}

{% block title %}
    User Edit
{% endblock title %}

{% block mainContent %}

    <div class="container mt-4">

    <h1 class="text-center mt-4 mb-4">Edit of user {{username}}</h1>

    <form method="POST" class="form-register">

        {{ form.first_name.label() }}
        {{ form.first_name(class="form-control", placeholder="Meno") }}
        {{ form.last_name.label() }}
        {{ form.last_name(class="form-control", placeholder="Priezvisko") }}
        {{ form.email.label() }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Heslo") }}
        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder="Potvrďte heslo") }}
        {{ form.csrf_token }}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br>
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

        {{ form.submit(class="btn btn-primary mt-4") }}
    </form>

    </div>


{% endblock mainContent %}
