{% extends 'base.html' %}

{% block title %}
    Spoj DPMB
{% endblock title %}

{% block mainContent %}
    <h1>Prehľad spojení v DPMB</h1>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% set cnt = namespace(value=0) %}
        {% for link in links %}
        <tr>
          <td>{{link[0].id}}</td>
          <td>
            <form id="{{cnt.value}}" class="select" method="POST" action="{{ url_for('change_start', id=link[0].id)}}" onchange="myFunction({{cnt.value}})">
              <select class="custom-select" name="start">
                <option selected>{{link[1].name}}</option>
                {% for station in stations %}
                  {% if (station.id != link[1].id) and (station.id != link[2].id) %}
                    <option>{{station.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </form>
          </td>
          {% set cnt.value = cnt.value + 1 %}
          <td>
            <form id="{{cnt.value}}" class="select" method="POST" action="{{ url_for('change_end', id=link[0].id)}}" onchange="myFunction({{cnt.value}})">
              <select class="custom-select" name="end">
                <option selected>{{link[2].name}}</option>
                {% for station in stations %}
                  {% if (station.id != link[2].id) and (station.id != link[1].id) %}
                    <option>{{station.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </form>
          </td>
          {% set cnt.value = cnt.value + 1 %}
          <td><a href="{{url_for('delete_link', id=link[0].id)}}" class="btn btn-outline-danger">Delete</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      function myFunction(id) {
        document.getElementById(id).submit();
      }
    </script>

{% endblock mainContent %}
