{% extends 'base.html' %}

{% block title %}
    Klient DPMB
{% endblock title %}

{% block mainContent %}
    <div class="container mt-4">

    <h1 class="text-center mt-4 mb-4">Prihláste sa do svojho konta</h1>

    <form method="POST" class="form-register">

        {{ form.email.label() }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}
        {{ form.csrf_token }}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br>
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {{ form.submit(class="btn btn-primary mt-4") }}
    </form>

    </div>

{% endblock mainContent %}
