{% extends 'base.html' %}

{% block title %}
    DPMB - searched links
{% endblock title %}

{% block mainContent %}
    <div class="row justify-content-center mt-4">

        <div class="jumbotron jumbotron-fluid w-50">
            <div class="container">
                <h1 class="display-5 text-center mb-4">Found links</h1>
                {% if links %}
                    {% for link in links %}

                    <div class="card bg-light link-box">
                        <div class="card-header">
                            <div class="row justify-content-start">
                                <div class="col-4">
                                    {{link[0].time.date()}}
                                </div>
                                <div class="col-4">
                                    {{display_content[0]}} - {{display_content[1]}}
                                </div>
                                <div class="col-4 text-right">
                                {{link[2].date()}}
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <div class="row justify-content-start">
                                <div class="col-12">
                                    <i class="fas fa-bus-alt"></i>
                                    <ul class="text-left">
                                        <li>
                                            <div class="row justify-content-start">
                                                <div class="col-3">
                                                    <p class="card-text ml-2">{{display_content[0]}}</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="card-text">{{link[1].strftime("%H:%M")}} </p>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="row justify-content-start">
                                                <div class="col-3">
                                                    <p class="card-text ml-2">{{display_content[1]}}</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="card-text">{{link[2].strftime("%H:%M")}}</p>


                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-12 ">
                                    <button class="btn btn-success float-right" data-toggle="modal" data-target="#buyTicket{{link[0].link_id}}"><i class="fas fa-shopping-basket"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--REGISTERED USER-->
                    <div class="modal fade" id="buyTicket{{link[0].link_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Buy Ticket</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/buy" method="POST" class="form-register">
                        <div class="modal-body">
                             <input type="hidden" id="link_id" name="link_id" value={{link[0].link_id}}>
                            {{ form.first_name.label() }}
                            {{ form.first_name(class="form-control", placeholder="First name") }}
                            {{ form.last_name.label() }}
                            {{ form.last_name(class="form-control", placeholder="Last name") }}
                            {{ form.email.label() }}
                            {{ form.email(class="form-control", placeholder="Email") }}
                            {{ form.csrf_token }}


                        </div>
                        <div class="modal-footer text-left">
                            <input class="btn btn-primary mt-4" id="submit" name="submit" required="" type="submit" value="Buy Ticket">
                        </div>
                        </form>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="card-body text-center">
                        <div class="text-center">
                            <h3>Links not Found :/ Try again</h3>
                        </div>
                    </div>
                {% endif %}



            </div>
        </div>

    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <br>
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <style>

        .link-box {
            border-radius: 5px;
            box-shadow: 0 2px 10px rgb(21 101 150 / 38%);
            margin: 0 0 10px;
        }
        .fa-bus-alt {
            margin-right: 100%;
        }

    </style>

{% endblock mainContent %}
