{% extends 'base.html' %}

{% block title %}
    Your tickets DPMB
{% endblock title %}

{% block mainContent %}
    <h1 class="text-center mt-4 mb-4">List of your DPMB tickets</h1>
    <div class="row justify-content-end">

      <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Departure time</th>
          <th scope="col">Link</th>
          <th scope="col">Expiration</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set cnt = namespace(value=0) %}
        {% for ticket in tickets %}
        {% set cnt.value = cnt.value + 1 %}
        <tr>
          <td>{{cnt.value}}</td>
          <td>{{ticket[4].time_first}}</td>
          <td>{{ticket[2].name +"-" + ticket[3].name}}</td>
          <td>{{ticket[0].expiration}}</td>
          <td>{% if (ticket[0].paid != True) %}
            <a href="{{url_for('pay_myticket',id=ticket[0].id)}}">
              <button class="btn btn-success"><i class="fas fa-money-bill-wave"></i></button> </a>  
            {% endif %}
          </td>
        </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endblock mainContent %}
